@rendermode InteractiveServer
@attribute [StreamRendering]
@page "/admin"
@* @using Microsoft.AspNetCore.Authorization
@attribute [Authorize] *@

<h3 style="text-align: center">Administracción de productos</h3>

<div class="card" style="width: 18rem;">
    <img src="https://www.stuff.tv/wp-content/uploads/sites/2/2021/04/Stuff-Best-Laptop-Lead.png?resize=1080,720" class="card-img-top" alt="...">
    <div class="card-body">
        <a href="/weather" class="btn btn-primary">Agregar Productos</a>
    </div>
</div>

@code {

}
