@rendermode InteractiveServer
@attribute [StreamRendering]
@page "/productos"
@* @using Microsoft.AspNetCore.Authorization
@attribute [Authorize] *@

<h3 style="text-align: center"><span>Agregar Productos</span></h3>

@code {

}
